<IfModule mod_rewrite.c>
    RewriteEngine on

#    RewriteCond %{HTTP_HOST} !^www\.
#    RewriteRule ^(.*)$ https://www.%{HTTP_HOST}/$1 [R=301,L]

    # If a directory or a file exists, use it directly
    RewriteRule assets/ - [L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    # Otherwise forward it to index.php
    RewriteRule . index.php
</IfModule>